<%= render 'shared/navbar' %>
<% if @current_user %>
  <% if @current_user.is_super_admin? %>
    <!-- HTML for super admin -->
    <div class="container">
      <h1>User Data</h1>
      <table>
        <thead>
          <tr>
            <th>Blood Bank Name</th>
            <th>Number of Admins</th>
            <th>Number of Users</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @users_data.each do |blood_bank_name, data| %>
            <tr>
              <td><%= blood_bank_name %></td>
              <td><%= data[:admins] %></td>
              <td><%= data[:users] %></td>
              <td>
              <%= link_to 'Create Admin', new_users_path(blood_bank_id: BloodBank.find_by(name: blood_bank_name).id), class: 'btn btn-primary' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% elsif @current_user.is_admin? %>
    <!-- HTML for admin -->
    <div class="container">
      <h1>Blood Requests</h1>
      <table class="table table-striped mt-3">
        <thead>
          <tr>
            <th>ID</th>
            <th>Recipient ID</th>
            <th>Blood Type</th>
            <th>Units Required</th>
            <th>Mark as completed</th>
          </tr>
        </thead>
        <tbody id="blood-requests-table">
          <% @blood_requests[:pending].each do |blood_request| %>
            <tr>
              <td><%= blood_request["id"] %></td>
              <td><%= blood_request["recipent_id"] %></td>
              <td><%= blood_request["blood_type"] %></td>
              <td><%= blood_request["blood_unit"] %></td>
              <td>
                <input type="checkbox" class="complete-blood-request-checkbox" data-blood-request-id="<%= blood_request["id"] %>">
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <script>
      const completeBloodRequestCheckboxes = document.querySelectorAll('.complete-blood-request-checkbox');
      
      completeBloodRequestCheckboxes.forEach((checkbox) => {
        checkbox.addEventListener('change', () => {
          const bloodRequestId = checkbox.dataset.bloodRequestId;
          const confirmed = confirm("Are you sure you want to mark this blood request as completed?");
          
          if (confirmed) {
            const data = {
              "blood_request": {
                "is_completed": true
              }
            };
            
            fetch(`/blood_requests/${bloodRequestId}`, {
              method: 'PUT',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify(data)
            })
          } else {
            checkbox.checked = false;
          }
        });
      });
    </script>

    <%#= render 'shared/show_all_users' %>
  <% else %>
    <!-- HTML for regular user -->
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex align-items-center">
          <h3><%= @users_data["name"] %></h3>
        </div>
        <div class="col-md-6">
          <ul class="list-group">
            <li class="list-group-item"><strong>Email:</strong> <%= @users_data["email"] %></li>
            <li class="list-group-item"><strong>Phone:</strong> <%= @users_data["phone"] %></li>
            <li class="list-group-item"><strong>Age:</strong> <%= @users_data["age"] %></li>
            <li class="list-group-item"><strong>Sex:</strong> <%= @users_data["sex"] %></li>
            <li class="list-group-item"><strong>Blood Type:</strong> <%= @users_data["blood_type"] %></li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <%= render 'shared/login_page' %>
<% end %>
