<%= render 'shared/navbar' %>
<% if @current_user %>
  <% if @current_user.is_super_admin? %>
    <!-- HTML for super admin -->
    <div class="container">
    <h1>User Data</h1>
    <table>
      <thead>
        <tr>
          <th>Blood Bank Name</th>
          <th>Number of Admins</th>
          <th>Number of Users</th>
        </tr>
      </thead>
      <tbody>
        <% @users_data.each do |blood_bank_name, data| %>
          <tr>
            <td><%= blood_bank_name %></td>
            <td><%= data[:admins] %></td>
            <td><%= data[:users] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  <% elsif @current_user.is_admin? %>
    <!-- HTML for admin -->
    <div class="container">
      <h1>Blood Requests</h1>
      <button class="btn btn-primary" id="toggle-btn">Show Completed</button>
      <table class="table table-striped mt-3">
        <thead>
          <tr>
            <th>ID</th>
            <th>Recipient ID</th>
            <th>Blood Type</th>
            <th>Units Required</th>
            <th>Status</th>
            <th>Created At</th>
          </tr>
        </thead>
        <tbody id="blood-requests-table">
          <% @blood_requests[:pending].each do |blood_request| %>
            <tr>
              <td><%= blood_request["id"] %></td>
              <td><%= blood_request["recipent_id"] %></td>
              <td><%= blood_request["blood_type"] %></td>
              <td><%= blood_request["blood_unit"] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <script>
      $(document).ready(function() {
        $("#toggle-btn").click(function() {
          var completedTable = "";
          var pendingTable = "";
          var bloodRequests = <%= @blood_requests.to_json %>;

          bloodRequests.completed.forEach(function(bloodRequest) {
            completedTable += "<tr><td>" + bloodRequest.id + "</td><td>" + bloodRequest.recipent_id + "</td><td>" + bloodRequest.blood_type + "</td><td>" + bloodRequest.blood_unit + "</td><td>Completed</td><td>" + bloodRequest.created_at + "</td></tr>";
          });

          bloodRequests.pending.forEach(function(bloodRequest) {
            pendingTable += "<tr><td>" + bloodRequest.id + "</td><td>" + bloodRequest.recipent_id + "</td><td>" + bloodRequest.blood_type + "</td><td>" + bloodRequest.blood_unit + "</td><td>Pending</td><td>" + bloodRequest.created_at + "</td></tr>";
          });

          if ($("#toggle-btn").text() == "Show Completed") {
            $("#blood-requests-table").html(completedTable);
            $("#toggle-btn").text("Show Pending");
          } else {
            $("#blood-requests-table").html(pendingTable);
            $("#toggle-btn").text("Show Completed");
          }
        });
      });
    </script>

    <div class="container">
      <h1>User Data</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Blood Type</th>
            <th>Age</th>
            <th>Sex</th>
            <th>Phone</th>
          </tr>
        </thead>
        <tbody>
          <% @users_data.each do |user| %>
            <tr>
              <td><%= user['name'] %></td>
              <td><%= user['email'] %></td>
              <td><%= user['blood_type'] %></td>
              <td><%= user['age'] %></td>
              <td><%= user['sex'] %></td>
              <td><%= user['phone'] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <!-- HTML for regular user -->
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex align-items-center">
          <h3><%= @users_data["name"] %></h3>
        </div>
        <div class="col-md-6">
          <ul class="list-group">
            <li class="list-group-item"><strong>Email:</strong> <%= @users_data["email"] %></li>
            <li class="list-group-item"><strong>Phone:</strong> <%= @users_data["phone"] %></li>
            <li class="list-group-item"><strong>Age:</strong> <%= @users_data["age"] %></li>
            <li class="list-group-item"><strong>Sex:</strong> <%= @users_data["sex"] %></li>
            <li class="list-group-item"><strong>Blood Type:</strong> <%= @users_data["blood_type"] %></li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <%= render 'shared/login_page' %>
<% end %>
