<% if flash[:success] %>
  <div class="alert alert-success" id="flash-message">
    <%= flash[:success] %>
  </div>
  <% flash.discard(:success) %>
<% elsif flash[:error] %>
  <div class="alert alert-danger" id="flash-message">
    <%= flash[:error] %>
  </div>
  <% flash.discard(:error) %>
<% end %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "LIFE SOURCE", root_path, class: "navbar-brand" %>
    <div class="navbar float-end" id="navbarNav">
      <% if @current_user %>
        <span class="navbar-text">
          <%= "Hello, #{@current_user.name}!" %>
        </span>
        <% if @current_user.is_admin? %>
          <%= link_to "Create Blood Request", new_blood_requests_path, class: "btn btn-primary ml-2" %>
          <%= link_to "Create Donation", new_donations_path, class: "btn btn-primary mx-2" %>
          <%= link_to "Create New User", new_users_path, class: "btn btn-primary mr-2" %>
        <% elsif @current_user.is_super_admin? %>
          <%= link_to "New Blood Bank", new_blood_banks_path, class: "btn btn-primary mx-2" %>
        <% end %>
        <%= link_to "Logout", logout_users_path, class: "btn btn-outline-danger" %>
      <% else %>
      <% end %>
    </div>
  </div>
</nav>

<script>
$(document).ready(function() {
  // Hide flash messages after 3 seconds
  setTimeout(function() {
    $('#flash-message').fadeOut('slow');
  }, 3000);
});
</script>
